/*
* Licensed to the Apache Software Foundation (ASF) under one or more
* contributor license agreements.  See the NOTICE file distributed with
* this work for additional information regarding copyright ownership.
* The ASF licenses this file to You under the Apache License, Version 2.0
* (the "License"); you may not use this file except in compliance with
* the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/
/* ThemeJetspeedMenu Style Sheet */

.ThemeJetspeedMenu,.ThemeJetspeedSubMenuTable
{
    font-family:    Verdana, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: x-small;
    background-color:    #999;

    border:        0;
    cursor:        default;
    white-space:    nowrap;
}

.ThemeJetspeedSubMenu
{
    position:    absolute;
    visibility:    hidden;

    /*
       Netscape/Mozilla renders borders by increasing
       their z-index.  The following line is necessary
       to cover any borders underneath
    */
    z-index:    100;
    border:        0;
    padding:    0;

    /* the following property is only useful in IE */
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#DEDEDE,Direction=135,Strength=4);
}

.ThemeJetspeedSubMenuTable
{
    border:        1px solid #FFF;
}

.ThemeJetspeedMenuItem,.ThemeJetspeedMenuItemHover,.ThemeJetspeedMenuItemActive
{
    cursor:        default;
    white-space:    nowrap;
}

.ThemeJetspeedMainItem,
.ThemeJetspeedMenuItem
{
    border:        1px solid #999;
    background-color:    #999;
    color:               #FFF;
}

.ThemeJetspeedMainItemHover,
.ThemeJetspeedMenuItemHover,
.ThemeJetspeedMainItemActive,
.ThemeJetspeedMenuItemActive
{
    border:        1px solid #FFF;
    background-color:    #DDD;
    color:               #555;
}

/* horizontal main menu sub components */
/* panel doesn't really support horizontal menus */

.ThemeJetspeedMainFolderLeft,.ThemeJetspeedMainItemLeft
{
    padding-right:    0px;
    padding-left:    0px;
    border:        0;
    background-color:    inherit;
    white-space:    nowrap;
}

.ThemeJetspeedMainFolderText
{
    padding-right:    0px;
    padding-left:    10px;
    border:        0;
    background-color:    inherit;
    white-space:    nowrap;
}

.ThemeJetspeedMainItemText
{
    padding-right:    10px;
    padding-left:    10px;
    border:        0;
    background-color:    inherit;
    white-space:    nowrap;
}

.ThemeJetspeedMainFolderRight
{
    padding-right:    10px;
    padding-left:    0px;
    border:        0;
    background-color:    inherit;
    white-space:    nowrap;
}

.ThemeJetspeedMainItemRight
{
    padding-right:    0px;
    padding-left:    0px;
    border:        0;
    background-color:    inherit;
    white-space:    nowrap;
}

/* vertical main menu sub components */
TD.ThemeJetspeedMainFolderLeft,TD.ThemeJetspeedMainItemLeft
{
    padding-left:    0px;
    padding-right:    0px;

    border-left:    1px solid #FFF;

    white-space:    nowrap;
    background-color:    inherit;
}

TD.ThemeJetspeedMainFolderLeft,TD.ThemeJetspeedMainItemLeft,
TD.ThemeJetspeedMainFolderText,TD.ThemeJetspeedMainItemText,
TD.ThemeJetspeedMainFolderRight,TD.ThemeJetspeedMainItemRight
{
    padding-top:    2px;
    padding-bottom:    2px;
    border-top:    1px solid #FFF;
    border-bottom:    1px solid #FFF;

    background-color:    inherit;
}

TD.ThemeJetspeedMainFolderLeft,TD.ThemeJetspeedMainItemLeft
{
    padding-right:    0px;
    padding-left:    0px;
    border-left:    1px solid #FFF;

    background-color:    inherit;
    white-space:    nowrap;
}

TD.ThemeJetspeedMainFolderText,TD.ThemeJetspeedMainItemText
{
    padding-right:    10px;
    padding-left:    10px;

    background-color:    inherit;
    white-space:    nowrap;
}

TD.ThemeJetspeedMainFolderRight,TD.ThemeJetspeedMainItemRight
{
    padding-right:    0px;
    padding-left:    0px;
    border-right:    1px solid #FFF;

    background-color:    inherit;
    white-space:    nowrap;
}

TR.ThemeJetspeedMainItem TD.ThemeJetspeedMainFolderLeft
{
    padding-top:    3px;
    padding-bottom:    3px;
    padding-left:    1px;
    padding-right:    0px;

    border:    0;
    white-space:    nowrap;
    background-color:    inherit;
}

TR.ThemeJetspeedMainItem TD.ThemeJetspeedMainItemLeft
{
    padding-top:    3px;
    padding-bottom:    3px;
    padding-left:    1px;
    padding-right:    0px;

    border:    0;
    white-space:    nowrap;
    background-color:    inherit;
}

TR.ThemeJetspeedMainItem TD.ThemeJetspeedMainFolderText
{
    padding-top:    3px;
    padding-bottom:    3px;
    padding-left:    10px;
    padding-right:    10px;

    border:    0;
    white-space:    nowrap;
    background-color:    inherit;
}

TR.ThemeJetspeedMainItem TD.ThemeJetspeedMainItemText
{
    padding-top:    3px;
    padding-bottom:    3px;
    padding-left:    10px;
    padding-right:    10px;

    border:    0;
    white-space:    nowrap;
    background-color:    inherit;
}

TR.ThemeJetspeedMainItem TD.ThemeJetspeedMainItemRight
{
    padding-top:    3px;
    padding-bottom:    3px;
    padding-left:    0px;
    padding-right:    1px;

    border:    0;
    white-space:    nowrap;
    background-color:    inherit;
}

TR.ThemeJetspeedMainItem TD.ThemeJetspeedMainFolderRight
{
    padding-top:    3px;
    padding-bottom:    3px;
    padding-left:    0px;
    padding-right:    1px;

    border:    0;
    white-space:    nowrap;
    background-color:    inherit;
}

/* sub menus sub components */

.ThemeJetspeedMenuFolderLeft,.ThemeJetspeedMenuItemLeft
{
    padding-left:    0px;
    padding-right:    0px;

    border-left:    1px solid #FFF;

    white-space:    nowrap;
    background-color:    inherit;
}

.ThemeJetspeedMenuFolderLeft,.ThemeJetspeedMenuItemLeft,
.ThemeJetspeedMenuFolderText,.ThemeJetspeedMenuItemText,
.ThemeJetspeedMenuFolderRight,.ThemeJetspeedMenuItemRight
{
    padding-top:    2px;
    padding-bottom:    2px;
    border-top:    1px solid #FFF;
    border-bottom:    1px solid #FFF;

    background-color:    inherit;
    white-space:    nowrap;
}

.ThemeJetspeedMenuFolderLeft,.ThemeJetspeedMenuItemLeft
{
    padding-right:    0px;
    padding-left:    2px;
    border-left:    1px solid #FFF;

    background-color:    inherit;
    white-space:    nowrap;
}

.ThemeJetspeedMenuFolderText,.ThemeJetspeedMenuItemText
{
    padding-right:    3px;
    padding-left:    5px;

    background-color:    inherit;
    white-space:    nowrap;
}

.ThemeJetspeedMenuFolderRight,.ThemeJetspeedMenuItemRight
{
    padding-right:    0px;
    padding-left:    0px;
    border-right:    1px solid #FFF;

    background-color:    inherit;
    white-space:    nowrap;
}

TR.ThemeJetspeedMenuItem TD.ThemeJetspeedMenuFolderLeft
{
    padding-top:    3px;
    padding-bottom:    3px;
    padding-left:    3px;
    padding-right:    0px;

    border:    0;
    white-space:    nowrap;
    background-color:    inherit;
}

TR.ThemeJetspeedMenuItem TD.ThemeJetspeedMenuItemLeft
{
    padding-top:    3px;
    padding-bottom:    3px;
    padding-left:    3px;
    padding-right:    0px;

    border:    0;
    white-space:    nowrap;
    background-color:    inherit;
}

TR.ThemeJetspeedMenuItem TD.ThemeJetspeedMenuFolderText
{
    padding-top:    3px;
    padding-bottom:    3px;
    padding-right:    3px;
    padding-left:    5px;

    border:    0;
    white-space:    nowrap;
    background-color:    inherit;
}

TR.ThemeJetspeedMenuItem TD.ThemeJetspeedMenuItemText
{
    padding-top:    3px;
    padding-bottom:    3px;
    padding-right:    3px;
    padding-left:    5px;

    border:    0;
    white-space:    nowrap;
    background-color:    inherit;
}

TR.ThemeJetspeedMenuItem TD.ThemeJetspeedMenuItemRight
{
    padding-top:    3px;
    padding-bottom:    3px;
    padding-left:    0px;
    padding-right:    1px;

    border:        0;
    white-space:    nowrap;
    background-color:    inherit;
}

TR.ThemeJetspeedMenuItem TD.ThemeJetspeedMenuFolderRight
{
    padding-top:    3px;
    padding-bottom:    3px;
    padding-left:    0px;
    padding-right:    1px;

    border:        0;
    white-space:    nowrap;
    background-color:    inherit;
}

.ThemeJetspeedMenuSplit
{
    margin:        2px;
    height:        1px;
    overflow:    hidden;
    background-color:    inherit;
    border-top:    1px solid #FFF;
}

/* image shadow animation */

/*
    seq1:    image for normal
    seq2:    image for hover and active

    To use, in the icon field, input the following:
    <img class="seq1" src="normal.gif" /><img class="seq2" src="hover.gif" />
*/

.ThemeJetspeedMenuItem img.seq1
{
    display:    inline;
}

.ThemeJetspeedMenuItemHover seq2,
.ThemeJetspeedMenuItemActive seq2
{
    display:    inline;
}

.ThemeJetspeedMenuItem .seq2,
.ThemeJetspeedMenuItemHover .seq1,
.ThemeJetspeedMenuItemActive .seq1
{
    display:    none;
}
