/*
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

.layout-tigris .dojoTabContainer {
	position : relative;
}

.layout-tigris .dojoTabPaneWrapper {
	border : 1px solid #6290d2;
	_zoom: 1; /* force IE6 layout mode so top border doesnt disappear */
	display: block;
	clear: both;
    overflow: hidden;
}

.layout-tigris .dojoTabLabels-top {
	position : relative;
	top : 0px;
	left : 0px;
	overflow : visible;
	margin-bottom : -1px;
	width : 100%;
	z-index: 2;	/* so the bottom of the tab label will cover up the border of dojoTabPaneWrapper */
}

.layout-tigris .dojoTabNoLayout.dojoTabLabels-top .dojoTab {
	margin-bottom: -1px;
	_margin-bottom: 0px; /* IE filter so top border lines up correctly */
}

.layout-tigris .dojoTab {
	position : relative;
	float : left;
	padding-left : 9px;
	border-bottom : 1px solid #6290d2;
	background : url(../images/desktop/tabs/tab_left.gif) no-repeat left top;
	cursor: pointer;
	white-space: nowrap;
	z-index: 3;
}

.layout-tigris .dojoTab div {
	display : block;
	padding : 4px 15px 4px 6px;
	background : url(../images/desktop/tabs/tab_top_right.gif) no-repeat right top;
	color : #333;
	font-size : x-small;
    font-weight: bold;
}

.layout-tigris .dojoTab .close {
	display : inline-block;
	height : 12px;
	width : 12px;
	padding : 0 12px 0 0;
	margin : 0 -10px 0 10px;
	cursor : default;
	font-size: small;
}

.layout-tigris .dojoTab .closeImage {
	background : url(../images/desktop/tabs/tab_close.gif) no-repeat right top;
}

.layout-tigris .dojoTab .closeHover {
	background-image : url(../images/desktop/tabs/tab_close_h.gif);
}

.layout-tigris .dojoTab.current {
	padding-bottom : 1px;
	border-bottom : 0;
	background-position : 0 -150px;
}

.layout-tigris .dojoTab.current div {
	padding-bottom : 5px;
	margin-bottom : -1px;
	background-position : 100% -150px;
}

/* bottom tabs */

.layout-tigris .dojoTabLabels-bottom {
	position : relative;
	bottom : 0px;
	left : 0px;
	overflow : visible;
	margin-top : -1px;
	width : 100%;
	z-index: 2;
}

.layout-tigris .dojoTabNoLayout.dojoTabLabels-bottom {
	position : relative;
}

.layout-tigris .dojoTabLabels-bottom .dojoTab {
	border-top :  1px solid #6290d2;
	border-bottom : 0;
	background : url(../images/desktop/tabs/tab_bot_left.gif) no-repeat left bottom;
}

.layout-tigris .dojoTabLabels-bottom .dojoTab div {
	background : url(../images/desktop/tabs/tab_bot_right.gif) no-repeat right bottom;
}

.layout-tigris .dojoTabLabels-bottom .dojoTab.current {
	border-top : 0;
	background : url(../images/desktop/tabs/tab_bot_left_curr.gif) no-repeat left bottom;
}

.layout-tigris .dojoTabLabels-bottom .dojoTab.current div {
	padding-top : 4px;
	background : url(../images/desktop/tabs/tab_bot_right_curr.gif) no-repeat right bottom;
}

/* right-h tabs */

.layout-tigris .dojoTabLabels-right-h {
	overflow : visible;
	margin-left : -1px;
	z-index: 2;
}

.layout-tigris .dojoTabLabels-right-h .dojoTab {
	padding-left : 0;
	border-left :  1px solid #6290d2;
	border-bottom : 0;
	background : url(../images/desktop/tabs/tab_bot_right.gif) no-repeat right bottom;
	float : none;
}

.layout-tigris .dojoTabLabels-right-h .dojoTab div {
	padding : 4px 15px 4px 15px;
}

.layout-tigris .dojoTabLabels-right-h .dojoTab.current {
	border-left :  0;
	border-bottom :  1px solid #6290d2;
}

/* left-h tabs */

.layout-tigris .dojoTabLabels-left-h {
	overflow : visible;
	margin-right : -1px;
	z-index: 2;
}

.layout-tigris .dojoTabLabels-left-h .dojoTab {
	border-right :  1px solid #6290d2;
	border-bottom : 0;
	float : none;
	background : url(../images/desktop/tabs/tab_top_left.gif) no-repeat left top;
}

.layout-tigris .dojoTabLabels-left-h .dojoTab.current {
	border-right : 0;
	border-bottom :  1px solid #6290d2;
	padding-bottom : 0;
	background : url(../images/desktop/tabs/tab_top_left.gif) no-repeat 0 -150px;
}

.layout-tigris .dojoTabLabels-left-h .dojoTab div {
	background : 0;
	border-bottom :  1px solid #6290d2;
}
