<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>pn-numbers</display-name>
	<welcome-file-list>
		<welcome-file>identifiers</welcome-file>
	</welcome-file-list>
	<context-param>
	<param-name>papyri.info:index:merge</param-name>
	<param-value>/usr/local/pn/indices/merge</param-value>
	</context-param>
	<context-param>
	<param-name>papyri.info:index:hgv</param-name>
	<param-value>/usr/local/pn/indices/hgv</param-value>
	</context-param>
	<servlet>
	<servlet-name>numbers</servlet-name>
	<servlet-class>info.papyri.numbers.servlet.Numbers</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>numbers</servlet-name>
	<url-pattern>/identifiers/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>numbers</servlet-name>
	<url-pattern>/identifiers</url-pattern>
	</servlet-mapping>
</web-app>
