#* define navigation constants *#
#macro (defineNavigationConstants)
  #set($LEFT_TO_RIGHT = "LeftToRight")
  #set($RIGHT_TO_LEFT = "RightToLeft")
  #set($TOP_TO_BOTTOM = "TopToBottom")
  #set($BOTTOM_TO_TOP = "BottomToTop")
  #set($TITLE_FIRST = "TitleFirst")
  #set($TITLE_LAST = "TitleLast")
  #set($BREADCRUMBS_STYLE = "BreadcrumbsStyle")
#end

#* include tabs navigation component *#
#macro (includeTabsNavigation $_menu $_orientation $_docPages)
            #set($_controlName = $request.getParameter("controlName"))
            #set($_docId = "")
            #if($request.getAttribute("display"))
            #set($_docId = $request.getAttribute("display"))
            #else
            #set($_docId = $_controlName)
            #end
    #foreach($element in $_menu.elements.iterator())
      #if($element.elementType == "option")
        #set($tabTitle = $element.getTitle($preferedLocale).replaceAll("%docId%",$_docId))
        #set($tabName = $element.getShortTitle($preferedLocale))
        #if($_orientation == $LEFT_TO_RIGHT)
          #if($element.isSelected($site) && $_docPages)
            <td class="LTabLeft" nowrap="nowrap">&nbsp;</td>
            <td class="LTab" align="center" valign="middle" nowrap="nowrap" title="$!tabTitle">${tabTitle}<br/>${tabName}</td>
            <td class="LTabRight"  nowrap="nowrap">&nbsp;</td>
          #else
            <td class="LTabLeftLow"  nowrap="nowrap">&nbsp;</td>
            #set($_tabUrl = $jetspeed.getAbsoluteUrl($element.url))
            #if($_controlName && $_docPages)
              #set($tabUrl = "${_tabUrl}?controlName=${_controlName}")
            #else
              #set($tabUrl = ${_tabUrl})
            #end
            #if($rewriter)
              #set($tabUrl = $rewriter.rewriteUrl($tabUrl))
            #end
            <td class="LTabLow" align="center" valign="middle" nowrap="nowrap" title="$!tabTitle"><a href="$tabUrl">${tabTitle}<br/>${tabName}</a></td>

            <td class="LTabRightLow"  nowrap="nowrap">&nbsp;</td>
          #end
        #end
      #end
    #end
#end
#macro (includeNewsTab)
    <td class="LTabLeftLow"  nowrap="nowrap">&nbsp;</td>
    <td class="LTabLow" align="center" valign="middle" nowrap="nowrap" title="News &amp; Updates"><a href="http://www.columbia.edu/cu/lweb/projects/digital/apis/news.html" target="_new">News &amp; Updates</a></td>
    <td class="LTabRightLow"  nowrap="nowrap">&nbsp;</td>
#end
#macro (includeResultsTabsNavigation $_menu $_orientation)
            #set($_controlName = $request.getParameter("controlName"))
            #set($_docId = "")
            #if($_controlName.startsWith("none"))
            #set($_docId = $request.getAttribute("hgv"))
            #else
            #set($_docId = $_controlName)
            #end
    #foreach($element in $_menu.elements.iterator())
      #if($element.elementType == "option")
        #set($tabTitle = $element.getTitle($preferedLocale).replaceAll("%docId%",$_docId))
        #set($tabName = $element.getShortTitle($preferedLocale))
        #if($_orientation == $LEFT_TO_RIGHT)
          #if($element.isSelected($site))
            <td class="LTabLeft" nowrap="nowrap">&nbsp;</td>
            <td class="LTab" align="center" valign="middle" nowrap="nowrap" title="$!tabTitle">${tabTitle}<br/>${tabName}</td>
            <td class="LTabRight"  nowrap="nowrap">&nbsp;</td>
          #else
            <td class="LTabLeftLow"  nowrap="nowrap">&nbsp;</td>
              #set($_tabUrl = $jetspeed.getAbsoluteUrl($element.url))
            <td class="LTabLow" align="center" valign="middle" nowrap="nowrap" title="$!tabTitle"><a href="${_tabUrl}?${request.getRequest().getQueryString()}">${tabTitle}<br/>${tabName}</a></td>
            <td class="LTabRightLow"  nowrap="nowrap">&nbsp;</td>
          #end
        #end
      #end
    #end
#end


#* include links navigation component *#
#macro (includeLinksNavigation $_menu $_orientation $_title $_style $_delimiter)
  #if(!$_delimiter || $_delimiter == "")
    #if($_style != $BREADCRUMBS_STYLE)
      #set($_delimiter = "&nbsp;")
    #else
      #set($_delimiter = "&nbsp;&gt;&gt;&nbsp;")
    #end
  #end
  #set($menuTitle = $_menu.getTitle($preferedLocale))
  #set($menuName = $_menu.getShortTitle($preferedLocale))
  
      <div class="FolderList">
  #if($_title == $TITLE_FIRST)
    #if($_orientation == $LEFT_TO_RIGHT)
		
        <span title="$!menuTitle">${menuName}&nbsp;</span>
    #elseif($_orientation == $TOP_TO_BOTTOM)
		
        <div class="pagetitle" title="$!menuTitle">${menuName}</div>
    #end
  #end
  #foreach($element in $_menu.elements.iterator())
    #if($element.elementType == "option")
      #set($linkTitle = $element.getTitle($preferedLocale))
      #set($linkName = $element.getShortTitle($preferedLocale))
      #set($linkUrl = $jetspeed.getAbsoluteUrl($element.url))
      #if($_style != $BREADCRUMBS_STYLE || $element.type != "page" || $velocityCount < $_menu.elements.size())
        #if($_orientation == $LEFT_TO_RIGHT)
			
        <span>
        #elseif($_orientation == $TOP_TO_BOTTOM)
			
        <div>
        #end
        #if($element.type == "page")
			
          <a href="${linkUrl}page" class="LinkPage" title="$!linkTitle">${linkName}</a>
        #elseif($element.type == "link")
          <a href="$linkUrl" class="Link" title="$!linkTitle">${linkName}</a>
        #elseif($element.type == "folder")
			
          <a href="${linkUrl}folder" class="LinkFolder" title="$!linkTitle">${linkName}</a>
        #else
			
          <a href="${linkUrl}fallthrough" title="$!linkTitle">${linkName}</a>
        #end
        #if($_orientation == $LEFT_TO_RIGHT)
        ${_delimiter}</span>
        #elseif($_orientation == $TOP_TO_BOTTOM)
			
        </div>
        #end
      #else
        #if($_orientation == $LEFT_TO_RIGHT)
			
        <span title="$!linkTitle">${linkName}&nbsp;</span>		
        #elseif($_orientation == $TOP_TO_BOTTOM)
			
        <div title="$!linkTitle">${linkName}</div>
        #end
      #end
    #elseif($element.elementType == "separator")
      #set($separatorTitle = $element.getTitle($preferedLocale))
      #set($separatorText = $element.getText($preferedLocale))
      #if($_orientation == $LEFT_TO_RIGHT)
		
        <span title="$!separatorTitle">${separatorText}${_delimiter}</span>              
      #elseif($_orientation == $TOP_TO_BOTTOM)
		
        <div class="pagetitle" title="$!separatorTitle">${separatorText}</div>              
      #end
    #elseif($element.elementType == "form")
        #set($formText = $element.getText())
        <span title="Template FormTest">${formText}</span>
    #end
  #end
  #if($_title == $TITLE_LAST)
    #if($_orientation == $LEFT_TO_RIGHT)
		
        <span title="$!menuTitle">${menuName}&nbsp;</span>
    #elseif($_orientation == $TOP_TO_BOTTOM)
		
        <div class="pagetitle" title="$!menuTitle">${menuName}</div>
    #end
  #end
  
      </div>
#end

#* include nested menu links navigation component *#
#macro (includeNestedLinksWithIconNavigation $_menu $_orientation)
  #set($menuTitle = $_menu.getTitle($preferedLocale))
  #set($menuName = $_menu.getShortTitle($preferedLocale))
  #if($menuName)
              <div class="pagetitle" title="$!menuTitle">${menuName}</div>
  #end
              <div>
  #foreach($element in $_menu.elements.iterator())
    #if($element.elementType == "option")
      #set($linkTitle = $element.getTitle($preferedLocale))
      #set($linkName = $element.getShortTitle($preferedLocale))
      #set($linkUrl = $jetspeed.getAbsoluteUrl($element.url))
      #if($element.type == "page")
                <div><a href="$linkUrl" class="LinkPage" title="$!linkTitle">${linkName}</a></div>
      #elseif($element.type == "link")
        #set($linkTarget = $element.target)
                <div><a href="$linkUrl" target="$linkTarget" class="Link" title="$!linkTitle">${linkName}</a></div>	
      #elseif($element.type == "folder")
                <div><a href="$linkUrl" class="LinkFolder" title="$!linkTitle">$linkName</a></div>
      #end
    #elseif($element.elementType == "menu")
      #includeNestedLinksWithIconNavigation($element $_orientation)
    #elseif($element.elementType == "separator")
      #set($separatorTitle = $element.getTitle($preferedLocale))
      #set($separatorText = $element.getText($preferedLocale))
                  <div class="pagetitle" title="$!separatorTitle">${separatorText}</div>              
    #end
  #end
              </div>
#end

#* include top level menu links navigation component *#
#macro (includeLinksWithIconNavigation $_menu $_orientation)
  #set($rowStarted = false)
  #set($elementsStarted = false)
  #foreach($element in $_menu.elements.iterator())
    #if($element.elementType == "option")
      #if(!$rowStarted)
        <tr>
          <td>
            <div class="toolgroup">
              <div class="body">
                <div class="FolderList">
      #elseif(!$elementsStarted)
              <div class="body">
                <div class="FolderList">
      #end
      #set($linkTitle = $element.getTitle($preferedLocale))
      #set($linkName = $element.getShortTitle($preferedLocale))
      #set($linkUrl = $jetspeed.getAbsoluteUrl($element.url))
      #if($element.type == "page")
                  <div><a href="$linkUrl" class="LinkPage" title="$!linkTitle">${linkName}</a></div>
      #elseif($element.type == "link")
        #set($linkTarget = $element.target)
		#if($linkUrl.indexOf("apis") > -1)
              #set($linkUrl = $request.getAttribute('apis/query'))
                  <div><a href="$linkUrl" target="$!linkTarget" class="Link" title="$!linkTitle">${linkName}</a></div>	
            #elseif($linkUrl.indexOf("hgv") > -1)
              #set($linkUrl = $request.getAttribute('hgv/query'))
                  <div><a href="$linkUrl" target="$!linkTarget" class="Link" title="$!linkTitle">${linkName}</a></div>	
            #elseif($linkUrl.indexOf("ldab") > -1)
              #set($linkUrl = $request.getAttribute('ldab/query'))
                  <div><a href="$linkUrl" target="$!linkTarget" class="Link" title="$!linkTitle">${linkName}</a></div>	
            #elseif($linkUrl.indexOf("ddbdp") > -1)
              #set($linkUrl = $request.getAttribute('ddbdp/query'))
                  <div><a href="$linkUrl" target="$!linkTarget" class="Link" title="$!linkTitle">${linkName}</a></div>
            #elseif($linkUrl.indexOf("primary") > -1)
              #set($linkUrl = $request.getAttribute('primary/query'))
                  <div><a href="$linkUrl" target="$!linkTarget" class="Link" title="$!linkTitle">${linkName}</a></div>
            #elseif($linkUrl.indexOf("supplemental") > -1)
              #set($linkUrl = $request.getAttribute('supplemental/query'))
                  <div><a href="$linkUrl" target="$!linkTarget" class="Link" title="$!linkTitle">${linkName}</a></div>
            #else	
                  <div><a href="$linkUrl" target="$!linkTarget" class="Link" title="$!linkTitle">${linkName}</a></div>
            #end	
      #elseif($element.type == "folder")
                  <div><a href="$linkUrl" class="LinkFolder" title="$!linkTitle">$linkName</a></div>
      #end
      #set($rowStarted = true)
      #set($elementsStarted = true)
    #elseif($element.elementType == "menu")
      #if(!$rowStarted)
        <tr>
          <td>
            <div class="toolgroup">
              <div class="body">
                <div class="FolderList">
      #elseif(!$elementsStarted)
              <div class="body">
                <div class="FolderList">
      #end
      #includeNestedLinksWithIconNavigation($element $_orientation)
      #set($rowStarted = true)
      #set($elementsStarted = true)
    #elseif($element.elementType == "separator")
      #if(!$rowStarted)
        <tr>
          <td>
            <div class="toolgroup">
      #elseif($elementsStarted)
                </div>
              </div>
      #end
      #set($separatorTitle = $element.getTitle($preferedLocale))
      #set($separatorText = $element.getText($preferedLocale))
              <div class="label">
                ${separatorText}
              </div>
      #set($rowStarted = true)
      #set($elementsStarted = false)
    #elseif($element.elementType == "form")
        #set($formText = $element.getText())
        <span title="Template FormTest">${formText}</span>
    #end
  #end
  #if($elementsStarted)
                </div>
              </div>
  #end
  #if($rowStarted)
            </div>
          </td>
        </tr>
  #end
#end
#macro (PageTitle)
            #set($_controlName = $request.getParameter("controlName"))
            #set($_docId = "")
            #if($request.getAttribute("display"))
            #set($_docId = $request.getAttribute("display"))
            #else
            #set($_docId = $_controlName)
            #end
$jetspeed.page.getTitle($preferedLocale).replaceAll("%docId%",$_docId)
#end
