#*
Copyright 2004 The Apache Software Foundation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*#

#* Add the current layouts configuration values to the context *#
#defineLayoutObjects()

#* Loads our custom macros *#
#parse($layoutDecoration.getResource("decorator-macros.vm"))

#* Add all template constants to the current context *#
#defineNavigationConstants()

<html>
  <head>
    <meta http-equiv="Content-type" content="#ContentType()" />
    <meta http-equiv="Content-style-type" content="text/css" />   
    #includeJavaScriptForHead()
         <script src="/pn-portals/navigator.js" type="text/javascript"></script>
##if($request.getParameter("exhibit") == "numbers")
##         <script src="/pn-portals/api/exhibit-api.js?bundle=false"
##            type="text/javascript"></script>
##         <script src="/pn-portals/numbers?${request.getRequest().getQueryString().replaceAll("&","&amp;")}" type="text/javascript"></script>
##end
##if($request.getParameter("exhibit") == "metadata")
##         <script src="/pn-portals/api/exhibit-api.js?bundle=false"
##            type="text/javascript"></script>
##         <script src="/pn-portals/metadata?${request.getRequest().getQueryString().replaceAll("&","&amp;")}" type="text/javascript"></script>
##end
#if($request.getAttribute("url-rewriter"))
#set($rewriter = $request.getAttribute("url-rewriter"))
#end
#if($request.getParameter("controlName"))
#set($cnValue = $request.getParameter("controlName").trim())
#else
#set($cnValue = "")
#end
#if($request.getAttribute("display"))
#set($docName = $request.getAttribute("display"))
#end
#if(!$docName)
#set($docName = "")
#end

    #IncludeStylesheets()
	
    <title>#PageTitle()</title>

    <meta name="version" content="#SiteVersionTag()" />
    <meta name="keywords" content="" />
    <meta name="description" content="#PageDescription()" />
  </head>
#if($request.getParameter("exhibit") && $request.getParameter("exhibit") == "numbers")
  <body class="#PageBaseCSSClass()" onload="Exhibit.create(PN_EXHIBIT_DATA, 'Search Result');">
#else
  <body class="#PageBaseCSSClass()">
#end

<!--  BEGIN: layout/html/pn/decorator.vm -->
    <div class="#PageBaseCSSClass()">

<!-- Banner Content -->
      <div id="banner">
        <table border="0" cellspacing="0" cellpadding="8" width="100%">
          <tbody>
          <tr>
            <td class="logo" colspan="2">
              <h1><a class="pn-banner-anchor" href="/navigator">papyri<span style="color: #990000;font-weight:bold">.</span>info </a><span style="font-size:10px;">(development site)</span></h1>
            </td></tr>
<tr><td>
<!-- Breadcrumbs Back Navigation -->
##      <div id="breadcrumbs">
##set($breadcrumbsStandardMenu = $site.getMenu("breadcrumbs"))
##if(!$breadcrumbsStandardMenu.empty)
##includeLinksNavigation($breadcrumbsStandardMenu $LEFT_TO_RIGHT "" $BREADCRUMBS_STYLE "")
##else
##        &nbsp;
##end
     <!-- Page Action Bar -->
     #PageActionBar()
  </td>
</tr><tr>
            <td class="pn-doc-name">${docName}
##              <div align="right" id="login">
##   <div class="apisJump">
##       <form name="changeDoc" method="get" action="/serapis/portal/apisfull.psml" >
##           <label for="controlName" class="label">Go to Apis document:</label>
##           <input type="text" id="controlName" name="controlName" value="${cnValue}"/>
##           <input type="submit" value="go" />
##       </form>
##   </div>
##              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>


## <!-- Back Navigation -->
##       <div id="breadcrumbs">
## #set($backStandardMenu = $site.getMenu("back"))
## #if(!$backStandardMenu.empty)
## #includeLinksNavigation($backStandardMenu $LEFT_TO_RIGHT $TITLE_FIRST "" "")
## #else
##         &nbsp;
## #end
##       </div>
<!-- Top Tabs Menu -->
      <div class="tabs">
        <table border="0" cellpadding="0" cellspacing="0">
          <tr>
#set($pagesStandardMenu = $site.getMenu("navigator"))
#set($extMenu = $jetspeed.page.getMenu("navigator-ext"))
#set($documentMenu = $site.getMenu("document"))
#set($resultsMenu = $site.getMenu("search-results"))
#if(!$pagesStandardMenu.empty)
#includeTabsNavigation($pagesStandardMenu $LEFT_TO_RIGHT false)
#end
#if(!$documentMenu.empty && $request.getParameter("controlName"))
#includeTabsNavigation($documentMenu $LEFT_TO_RIGHT true)
#end
#if(!$resultsMenu.empty && $request.getParameter("pn-display-mode") && $request.getParameter("pn-display-mode") == "results")
#includeResultsTabsNavigation($resultsMenu $LEFT_TO_RIGHT)
#end
#includeNewsTab()
          </tr>
        </table>
      </div>
<!-- Content Table -->
      <table cellpadding="0" cellspacing="0" border="0" width="100%" id="main">
        <tr>

<!-- Left Navigations Menu Table Data -->
#set($navigationsStandardMenu = $site.getMenu("navigations"))

##if(!$navigationsStandardMenu.empty)
##          <td valign="top" id="leftcol" >
##            <div id="navcolumn">
##              <table cellpadding="0" cellspacing="4" border="0" width="100%">
##includeLinksWithIconNavigation($navigationsStandardMenu $TOP_TO_BOTTOM)
##              </table>
##            </div>
##          </td>
##end

<!-- Content Table Data -->
          <td nowrap="nowrap" valign="top">
  
## $jetspeed.include($jetspeed.currentFragment)

<!--  END: layout/html/pn/decorator.vm -->
