.facet-constraint{
    
    width: 30%;
    margin-right: 2%;
    
}

.option-label, .widget-label{
    
    float: left;
    padding-top: 2px;
    padding-bottom: 2px;
    
}

.facet-widget{
    
    height: 50px;
    clear: left; 
    
    
}