.facet-widget{

	margin-bottom: 0px;

}

div.stringsearch-top-controls:first-child p.facet-stringsearch-wrapper{
      
        margin-top: 1em;
      
}

#series-coll-wrapper, #vol-idno-wrapper{
	  
	float: left;

}
	  
#series-coll-wrapper{
	  
	width: 65%;
	  
}
	  
#series-coll-wrapper p{
	  
	margin-right: 0px;
	  
}
	  
#vol-idno-wrapper{
	  
	width: 35%;
	  
}
	  
div.content p.coll-or{
	  
	position: absolute;
	top: 3.2em;
	font-size: 12px;
	font-style: italic;
	margin-left: 1.5em;
	margin-top: 0px;
	margin-bottom: 0px;
	  
}

#series-wrapper label, #collection-wrapper label, #volume-wrapper label, #idno-wrapper label{

	float: left;

}

#series-wrapper, #volume-wrapper{

	height: 1.2em;

}

p#volume-wrapper, p#idno-wrapper{

	margin-right: 0px;

}

.stringsearch-section{

	clear: both;

}

.date-facet-widget{

	margin-bottom: 0px;
	padding-bottom: 0.5em;
}

#date-mode-facet-widget{

	position: relative;
	top: -1em;

}

.hidden-buttons{

	display: none;

}

.option-label{

	float: left;

}

div.content p.coll-or{

	position: absolute;
	top: 2.7em;
	margin-left: 0px;
}