@font-face {
  font-family: "IFAO-Grec Subset";
  src:
    url("/fonts/IFAO-Grec-Unicode-subset.woff2") format("woff2"),
    url("/fonts/IFAO-Grec-Unicode-subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ------------------- */
/* Main Page Structure */
/* ------------------- */
body {
  /* Ensure the footer is always at the bottom */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bg-primary-darker {
  background-color: var(--bs-primary-text-emphasis);
}

#masthead::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/header.jpg');
  opacity: 0.4;
  z-index: 0;
}

.navbar[data-bs-theme="dark"] {
  --bs-navbar-brand-font-size: 2rem;
  --bs-navbar-color: rgba(255, 255, 255, 0.8);
  --bs-navbar-hover-color: rgba(255, 255, 255, 1);
  --bs-navbar-disabled-color: rgba(255, 255, 255, 1);
  --bs-navbar-active-color: #fff;

  --bs-link-color: var(--bs-navbar-color);
  --bs-link-hover-color: var(--bs-navbar-hover-color);
  --bs-navbar-toggler-border-color: var(--bs-navbar-color);
}

.navbar-brand {
  font-family: var(--bs-font-serif);
  font-weight: 500;
}

.nav-category {
  font-family: var(--bs-font-sans-serif);
  color: white;
  font-weight: 600;
}

footer ul.about-links {
  column-count: 1;

  @media (min-width: 992px) {
    column-count: 2;
    column-gap: 1.5rem;
  }
}

/* ------------- */
/* Headings      */
/* ------------- */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.75rem;
  font-weight: 600;
}

h1 {
  color: var(--bs-primary);
}

h2 {
  color: var(--bs-success);
}

h3 {
  color: var(--bs-secondary);
}

/* Improve spacing below elements that precede headings */
*:has(+ h1),*:has(+ h2),*:has(+ h3),*:has(+ h4),*:has(+ h5),*:has(+ h6) {
  margin-bottom: 2rem;
}

/* ----------------- */
/* Misc Typography   */
/* ----------------- */
pre code {
  color: var(--bs-code-color);
}

/* ------------- */
/* Links         */
/* ------------- */

a {
  text-underline-offset: 0.125em;
}

.no-link-underline a:not(:hover) {
  text-decoration: none;
}

/* ------------- */
/* Lists         */
/* ------------- */
.list-group {
  --bs-list-group-action-color: var(--bs-body-color);
  --bs-list-group-active-bg: var(--bs-primary);
  --bs-list-group-active-border-color: var(--bs-list-group-active-bg);
}

.columns-2 {
  column-count: 2;
  column-gap: 1.5rem;
}

.columns-3 {
  column-count: 3;
  column-gap: 1.5rem;
}

.columns-4 {
  column-count: 4;
  column-gap: 1.5rem;
}

.list-outdent {
  li {
    text-indent: -1.2rem;
    padding-left: 1.2rem;
  }
}

/* ------------- */
/* Forms         */
/* ------------- */
.form-check-input:checked {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

/* ------------- */
/* Accordions    */
/* ------------- */
.accordion {
  --bs-accordion-btn-bg: var(--bs-light);
  --bs-accordion-active-bg: var(--bs-secondary);
  --bs-accordion-active-color: var(--bs-white);
  --bs-accordion-active-border-color: var(--bs-secondary);
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/></svg>")
}

/* ------------- */
/* Navs          */
/* ------------- */
.nav-pills {
  --bs-nav-pills-link-active-bg: var(--bs-link-color);
}

/* -------------------------------- */
/* Transcriptions and Languages     */
/* -------------------------------- */
span.ab {
  display: block;
  padding-left: 4em;
  position: relative;
}
div.apparatus {
  margin-top: 1em;
}
span.linenumber {
  display: inline-block;
  position: absolute;
  left: 0;
  text-align: right;
  width: 3em;
}
*[lang=ar] {
  font-family: "Noto Naskh Arabic", "Noto Sans Symbols 2", var(--bs-font-sans-serif);
  font-size: 24px;
}
*[lang=ar] span.ab {
  direction: rtl;
  padding-left: 0;
  padding-right: 2.5em;
  text-align: right;
}
*[lang=ar] div.apparatus {
  font-size: 16px;
  margin-left: 0;
}
*[lang=ar] span.linenumber {
  font-size: 16px;
  margin-top: .4em;
  right: 1em;
}
*[lang=cop] {
  font-family: "Noto Sans Coptic", "Noto Sans Symbols 2", "IFAO-Grec Subset", var(--bs-font-sans-serif);
  font-size: 18px;
}
*[lang=grc],*[lang=lat] {
  font-family: var(--bs-font-sans-serif), "Noto Sans Symbols 2";
}
