<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>info.papyri.dispatch.DispatcherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>info.papyri.dispatch.Search</servlet-class>
        <init-param>
            <param-name>solrUrl</param-name>
            <param-value>http://localhost:8081/solr</param-value>
        </init-param>
        <init-param>
            <param-name>xmlPath</param-name>
            <param-value>/usr/local/pn/git/idp.data</param-value>
        </init-param>
        <init-param>
            <param-name>htmlPath</param-name>
            <param-value>/content/dev/pn/idp.html</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Reader</servlet-name>
        <servlet-class>info.papyri.dispatch.Reader</servlet-class>
        <init-param>
            <param-name>xmlPath</param-name>
            <param-value>/usr/local/pn/git/idp.data</param-value>
        </init-param>
        <init-param>
            <param-name>htmlPath</param-name>
            <param-value>/content/dev/pn/idp.html</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reader</servlet-name>
        <url-pattern>/reader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
