<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>info.papyri.dispatch.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>sparqlUrl</param-name>
            <param-value>http://localhost:8090</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>info.papyri.dispatch.Search</servlet-class>
        <init-param>
            <param-name>home</param-name>
            <param-value>/srv/data/papyri.info/pn/home</param-value>
        </init-param>
        <init-param>
            <param-name>solrUrl</param-name>
            <param-value>http://localhost:8083/solr/</param-value>
        </init-param>
        <init-param>
            <param-name>xmlPath</param-name>
            <param-value>/srv/data/papyri.info/idp.data</param-value>
        </init-param>
        <init-param>
            <param-name>htmlPath</param-name>
            <param-value>/srv/data/papyri.info/pn/idp.html</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Reader</servlet-name>
        <servlet-class>info.papyri.dispatch.Reader</servlet-class>
        <init-param>
            <param-name>xmlPath</param-name>
            <param-value>/srv/data/papyri.info/idp.data</param-value>
        </init-param>
        <init-param>
            <param-name>htmlPath</param-name>
            <param-value>/srv/data/papyri.info/pn/idp.html</param-value>
        </init-param>
        <init-param>
            <param-name>sparqlUrl</param-name>
            <param-value>http://localhost:8090</param-value>
        </init-param>
        <init-param>
            <param-name>solrUrl</param-name>
            <param-value>http://localhost:8083/solr/</param-value>
        </init-param>
    </servlet>
    <servlet>
      <servlet-name>MDReader</servlet-name>
      <servlet-class>info.papyri.dispatch.MDReader</servlet-class>
      <init-param>
        <param-name>docs</param-name>
        <param-value>/srv/data/papyri.info/pn/docs</param-value>
      </init-param>
      <init-param>
        <param-name>template</param-name>
        <param-value>/srv/data/papyri.info/pn/home/template.html</param-value>
      </init-param>
    </servlet>
    <servlet>
        <servlet-name>FacetBrowser</servlet-name>
        <servlet-class>info.papyri.dispatch.browse.facet.FacetBrowser</servlet-class>
        <init-param>
            <param-name>home</param-name>
            <param-value>/srv/data/papyri.info/pn/home</param-value>
        </init-param>
        <init-param>
            <param-name>solrUrl</param-name>
            <param-value>http://localhost:8083/solr/</param-value>
        </init-param>
        <init-param>
            <param-name>htmlPath</param-name>
            <param-value>/srv/data/papyri.info/pn/idp.html</param-value>
        </init-param>
        <init-param>
            <param-name>pnSearchPath</param-name>
            <param-value>/pn-search</param-value>
        </init-param>
        <init-param>
            <param-name>facetBrowserPath</param-name>
            <param-value>/search</param-value>
        </init-param>
        <init-param>
            <param-name>instructionsPath</param-name>
            <param-value>/srv/data/papyri.info/pn/home/instructions.html</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ImageMetadata</servlet-name>
        <servlet-class>info.papyri.dispatch.ImageMetadata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollectionBrowser</servlet-name>
        <servlet-class>info.papyri.dispatch.browse.CollectionBrowser</servlet-class>
        <init-param>
            <param-name>home</param-name>
            <param-value>/srv/data/papyri.info/pn/home</param-value>
        </init-param>
        <init-param>
            <param-name>sparqlUrl</param-name>
            <param-value>http://localhost:8090</param-value>
        </init-param>
        <init-param>
            <param-name>htmlPath</param-name>
            <param-value>/srv/data/papyri.info/pn/idp.html</param-value>
        </init-param>
        <init-param>
            <param-name>sparqlGraph</param-name>
            <param-value>http://papyri.info/graph</param-value>
        </init-param>
        <init-param>
            <param-name>browseServletPath</param-name>
            <param-value>/browse</param-value>
        </init-param>
        <init-param>
            <param-name>pnSearchPath</param-name>
            <param-value>/pn-search</param-value>
        </init-param>
        <init-param>
            <param-name>facetBrowserPath</param-name>
            <param-value>/search</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>BiblioSearch</servlet-name>
        <servlet-class>info.papyri.dispatch.BiblioSearch</servlet-class>
        <init-param>
            <param-name>home</param-name>
            <param-value>/srv/data/papyri.info/pn/home</param-value>
        </init-param>
        <init-param>
            <param-name>solrUrl</param-name>
            <param-value>http://localhost:8083/solr/</param-value>
        </init-param>
        <init-param>
            <param-name>xmlPath</param-name>
            <param-value>/srv/data/papyri.info/idp.data</param-value>
        </init-param>
        <init-param>
            <param-name>htmlPath</param-name>
            <param-value>/srv/data/papyri.info/pn/idp.html</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AtomFeed</servlet-name>
        <servlet-class>info.papyri.dispatch.atom.AtomFeedServlet</servlet-class>
        <init-param>
            <param-name>solrUrl</param-name>
            <param-value>http://localhost:8083/solr/</param-value>
        </init-param>
        <init-param>
            <param-name>pnSearchPath</param-name>
            <param-value>/pn-search</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>XSLTService</servlet-name>
        <servlet-class>info.papyri.dispatch.XSLTService</servlet-class>
        <init-param>
            <param-name>epidoc</param-name>
            <param-value>/srv/data/papyri.info/git/navigator/pn-xslt/start-edition.xsl</param-value>
        </init-param>
        <init-param>
            <param-name>papyri.info-full</param-name>
            <param-value>/srv/data/papyri.info/git/navigator/pn-xslt/RDF2HTML.xsl</param-value>
        </init-param>
        <init-param>
            <param-name>papyri.info-solr</param-name>
            <param-value>/srv/data/papyri.info/git/navigator/pn-xslt/RDF2Solr.xsl</param-value>
        </init-param>
        <init-param>
            <param-name>papyri.info-text</param-name>
            <param-value>/srv/data/papyri.info/git/navigator/pn-xslt/MakeText.xsl</param-value>
        </init-param>
        <init-param>
            <param-name>papyri.info-fragment</param-name>
            <param-value>/srv/data/papyri.info/git/navigator/pn-xslt/MakeFragment.xsl</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CTSServlet</servlet-name>
        <servlet-class>info.papyri.dispatch.CTSServlet</servlet-class>
        <init-param>
            <param-name>xmlPath</param-name>
            <param-value>/srv/data/papyri.info/idp.data</param-value>
        </init-param>
        <init-param>
            <param-name>htmlPath</param-name>
            <param-value>/srv/data/papyri.info/pn/idp.html</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>CollectionBrowser</servlet-name>
        <url-pattern>/browse/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reader</servlet-name>
        <url-pattern>/reader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>MDReader</servlet-name>
      <url-pattern>/docs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageMetadata</servlet-name>
        <url-pattern>/images</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacetBrowser</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BiblioSearch</servlet-name>
        <url-pattern>/bibliosearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtomFeed</servlet-name>
        <url-pattern>/atom/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CTSServlet</servlet-name>
        <url-pattern>/CTSServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
