<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>info.papyri.dispatch.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>mulgaraUrl</param-name>
            <param-value>http://localhost:8090</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>info.papyri.dispatch.Search</servlet-class>
        <init-param>
            <param-name>home</param-name>
            <param-value>/data/papyri.info/pn/home</param-value>
        </init-param>
        <init-param>
            <param-name>solrUrl</param-name>
            <param-value>http://localhost:8082/solr/</param-value>
        </init-param>
        <init-param>
            <param-name>xmlPath</param-name>
            <param-value>/data/papyri.info/idp.data</param-value>
        </init-param>
        <init-param>
            <param-name>htmlPath</param-name>
            <param-value>/data/papyri.info/pn/idp.html</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Reader</servlet-name>
        <servlet-class>info.papyri.dispatch.Reader</servlet-class>
        <init-param>
            <param-name>xmlPath</param-name>
            <param-value>/data/papyri.info/idp.data</param-value>
        </init-param>
        <init-param>
            <param-name>htmlPath</param-name>
            <param-value>/data/papyri.info/pn/idp.html</param-value>
        </init-param>
        <init-param>
            <param-name>mulgaraUrl</param-name>
            <param-value>http://localhost:8090</param-value>
        </init-param>
    </servlet>
    <servlet>
    <servlet-name>FacetBrowser</servlet-name>    
    <servlet-class>info.papyri.dispatch.browse.facet.FacetBrowser</servlet-class>
            <init-param>
            <param-name>home</param-name>
            <param-value>/data/papyri.info/pn/home</param-value>
        </init-param>
        <init-param>
            <param-name>solrUrl</param-name>
            <param-value>http://localhost:8082/solr/</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ImageMetadata</servlet-name>
        <servlet-class>info.papyri.dispatch.ImageMetadata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollectionBrowser</servlet-name>
        <servlet-class>info.papyri.dispatch.browse.CollectionBrowser</servlet-class>
        <init-param>
            <param-name>home</param-name>
            <param-value>/data/papyri.info/pn/home</param-value>
        </init-param>
        <init-param>
            <param-name>solrUrl</param-name>
            <param-value>http://localhost:8082/solr/</param-value>
        </init-param>
        <init-param>
            <param-name>sparqlUrl</param-name>
            <param-value>http://localhost:8090</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>CollectionBrowser</servlet-name>
        <url-pattern>/browse/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reader</servlet-name>
        <url-pattern>/reader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageMetadata</servlet-name>
        <url-pattern>/images</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacetBrowser</servlet-name>
        <url-pattern>/facetted/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
